@media only screen and (max-width: 569px) and (max-height: 852px) {
    /* Coloque aqui o CSS específico para dispositivos de 393x852 */
    body {
       overflow: auto;
       margin: 0px;
       padding: 0px;
    
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: block;
        font-size: 48px;
       


    }

    .container {
        margin-bottom: 400px;
    }
    img {
        margin: 0%;
        align-items: center;
       
        
    }
    button {
        align-items: center;
        margin: auto;
    }
  }

  @media (min-width: 428px) and (max-width:926px) {
    /* Estilos para celulares grandes */
    body {
        overflow: hidden;
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: block;


    }
    img {
        margin: 0%;
        align-items: center;
        
       
    }
    button {
        align-items: center;
        margin: auto;
    }
  }

  @media (min-width: 320px) and (max-width:568px) {
    /* Estilos para celulares grandes */
    body {
     overflow: auto;
    
    
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: block;
        font-size: 27px;
        margin-top: 300px;


    }
    img {
        margin: 0%;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 200px;
    }
    button {
        align-items: center;
        margin: auto;
        width: 230px;
    }
    .container {
        margin-bottom: 200px;
    }
  }